<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="INTERIoTEWS.Shimmer3CaptureECGdata" android:versionCode="1" android:versionName="1.0.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="13" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="Shimmer3CaptureECGdata"></application>
</manifest>