<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.microsoft.mydriving" android:versionCode="3" android:versionName="1.0.6" android:installLocation="auto">
	<!--<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="23" />-->
	<uses-sdk android:minSdkVersion="13" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:theme="@style/MyTheme" android:label="MyDrivingINTERIotEWS" android:icon="@drawable/ic_launcher">
		<activity android:name="net.hockeyapp.android.UpdateActivity" />
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAqbjq4GqN3hHr2ighZvlNlctXdq49oRi0" />
	</application>
</manifest>